/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* navigation */
body {
     margin: 0;
     font-family: 'Open Sans';
 }
    
nav {
    background-color: #540B51;
    height: 75px;
    padding: 0 25px;
            
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100%;
    
}

#logo-links {
    display: flex;
    align-items: center;
}

.nav-elements {
    display: flex;
}
        
.nav-icons {
    all: unset;
}

header {
    background-color: #540B51;
}

ul {
    display: flex;
    list-style: none;
    
}

a {
    text-decoration: none;
}

.nav-links {
    color: #fff;
    padding: 0 20px;
    
    
}

#noshow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 520px;
}

/* header */

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 15px 40px;
    font-size: 40px;
    font-weight: 900;
}

.p-span {
    color: orange;
    font-weight: bold;
}

.header p {
    color: #fff;
    text-align: center;
}

#login-buttons {
    display: flex;
    flex-direction: column;
}

.button-signup {
    color: #540B51;
    text-transform: uppercase;
    height: 60px;
    margin: 5px 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.button-google {
    text-transform: uppercase;
    height: 60px;
    margin: 5px 10px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #4285F4;
    display: flex;
    align-items: center;
    color: #fff;
    
}

.button-google > img {
    width: 25px;
    padding: 8px;
    border-radius: 4px;
    background-color: #fff;
}
.button-google > span {
    width: 80%;
    text-align: center;
}

.img-header {
    height: 400px;
    margin-top: 20px;
    
}

 /* Logos */

#logos {
    background-color: #F3EAE2;
    padding-bottom: 50px;
    
}

#logos p {
    color: #000;
    text-align: center;
    margin: 0;
    padding: 50px 0 20px 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    
}

.logos {
    display: flex;
    flex-wrap: wrap;
    object-fit: contain;
    justify-content: space-between;
    
    
}

.logos > img {
    height: 40px;
    padding: 20px 18px;
}

/* Bring your team together */

#team {
    display: flex;
    flex-direction: column;
    background-color: #F3EAE2;

}

.img-together {
    width: 100%;
    
}

.together {
    background-color: #F3EAE2;
    margin: 10px 20px;
}

.together h2 {
    font-size: 30px;
}

.together a {
    color: #2E71A6;
}


@media (max-width: 768px) {
    /* navigation */
    #noshow {
        display: none;
    }
    .ul-hidden {
        display: none;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* navigation */
    #noshow {
        display: none;
    }
    .ul-hidden {
        display: none;
    }

    /* header */
    h1 {
        text-align: left;
        font-size: 80px;
    }
    #header {
        display: flex;
        align-items: center;
        
    }

    .header {
        margin-bottom: 120px;
    }

    .header p {
        text-align: left;
        margin: 20px 45px;
    }

    #login-buttons {
        margin: 0 30px;
    }


    /* Logos */

    .logos > img {
        height: 35px;
    }
    
    /* Bring your team together */

    .img-together {
        display: none;
    }

    .img-replace {
        content: url(/starter_code/images/connectedness.png);
        margin-right: 120px;
    }

    .together {
        margin: 0 150px 50px;150px
    }

}  

@media (min-width: 1024px) and (max-width: 1440px) {
    /* navigation */
    #burger {
        display: none;
    }

    h1 {
        text-align: left;
        font-size: 80px;
    }

    #header {
        display: flex;
        align-items: center;
    }

    .header {
        margin-bottom: 120px;
    }

    /* header */

    .header p {
        text-align: left;
        margin: 20px 45px;
    }

    #login-buttons {
        margin: 0 30px;
    }
 

 /* Bring your team together */
    .img-together {
        display: none;
    }

    .img-replace {
        content: url(/starter_code/images/connectedness.png);
        width: 45%;
        margin-right: 150px;
    } 

    #team {
        flex-direction: row;
        align-items: center;
    }

    .together p {
        margin-right: 50px;
    }

    .together h2 {
        font-size: 40px;
        margin-right: 50px;
        margin-top: 0;
        padding: 0;
    }



}  